<% series_config = Series::SERIES %>
<% latest_by_series = @series_with_crosswords.to_h { |name, crosswords| [name, crosswords.first&.identifier] } %>
<div class="homepage">
  <div class="homepage-sidebar">
    <h3>Go to puzzle</h3>
    <form id="goto-form" data-path-prefix="<%= Rails.application.config.relative_url_root.to_s %>">
      <label for="goto-series">Series</label>
      <select id="goto-series" name="series">
        <%- series_config.each do |name, meta| -%>
          <option value="<%= name %>"
                  data-first-puzzle="<%= meta[:first_puzzle] %>"
                  data-latest-puzzle="<%= latest_by_series[name] %>"><%= name.titleize %></option>
        <%- end -%>
      </select>

      <fieldset id="day-filter" class="day-filter" hidden>
        <legend>Day</legend>
        <div class="day-options">
          <label><input type="radio" name="day" value="" checked> Any</label>
          <label><input type="radio" name="day" value="1"> Mon</label>
          <label><input type="radio" name="day" value="2"> Tue</label>
          <label><input type="radio" name="day" value="3"> Wed</label>
          <label><input type="radio" name="day" value="4"> Thu</label>
          <label><input type="radio" name="day" value="5"> Fri</label>
        </div>
      </fieldset>

      <label for="goto-number">Puzzle</label>
      <div class="history-wrap">
        <input type="text" id="goto-number" name="number" autocomplete="off">
        <div id="puzzle-suggestions" class="history-list" hidden></div>
      </div>

      <label for="goto-room">Room</label>
      <div class="history-wrap">
        <input type="text" id="goto-room" name="room" placeholder="e.g. my-room" autocomplete="off">
        <div id="room-suggestions" class="history-list" hidden></div>
      </div>

      <div class="goto-buttons">
        <button type="submit">Go</button>
        <button type="button" class="random" id="random-btn">Random</button>
      </div>
      <div id="goto-error" class="form-error"></div>
      <p>
        If <strong>puzzle</strong> is empty, go to the most recent in the series.
        <br>
        If <strong>room</strong> is empty, go to a random room number.
        <br>
        Hit <strong>random</strong> to go to a random puzzle in the series.
      </p>
    </form>
  </div>

  <div class="homepage-main">
    <p class="intro">
      Pick one of the crosswords below then share the link with friends to solve together.
    </p>

    <%- @series_with_crosswords.each do |series, crosswords| -%>
      <h3><%= series.titleize %></h3>
      <ul>
      <%- crosswords.each do |crossword| -%>
        <li class="crossword-link">
          <%= link_to(crossword.name, crossword_path(crossword.series, crossword.identifier)) %>
        </li>
      <%- end -%>
      </ul>
    <%- end -%>

    <p class="about">
      <strong>Several People are Solving</strong> is an experiment with multiplayer crosswords created by <a href="https://chriszetter.com">Chris Zetter</a>. You can <a href="https://github.com/dan-wells/multicrosser">view the code on GitHub</a>.
    </p>
  </div>
</div>
<%= javascript_pack_tag "homepage" %>
