<h1><%= @parsed_crossword['name'] %></h1>
<%- if @parsed_crossword['subtitle'].present? -%>
  <h2 class="crossword-subtitle"><%= @parsed_crossword['subtitle'] %></h2>
<%- end -%>
<p class="crossword-info">
  <%= Time.at(@parsed_crossword['date']/1000).to_date.strftime("%a %-d %b %Y") %>
  <%- if @parsed_crossword['creator'] -%>
    <%- creator_name = @parsed_crossword['creator']['name'] -%>
    <%- creator_url = @parsed_crossword['creator']['webUrl'] -%>
    | Set by <%= creator_url.present? ? link_to(creator_name, creator_url) : creator_name %>
  <%- end -%>
  <%- if @commentary_url -%>
    |
    <%- if @commentary_is_search -%>
      Search on <%= link_to @commentary_label, @commentary_url %>
    <%- else -%>
      <%= link_to @commentary_label, @commentary_url %>
    <%- end -%>
  <%- end -%>
</p>

<svg width="0" height="0" aria-hidden="true" style="position:absolute">
  <defs>
    <pattern id="crossword-black-hatch" patternUnits="userSpaceOnUse" width="4" height="4" patternTransform="rotate(45)">
      <line x1="0" y1="0" x2="0" y2="4" stroke-width="1"></line>
    </pattern>
  </defs>
</svg>

<%= content_tag(:div, '', class: 'js-crossword', data: {
  crossword: @crossword,
  'crossword-identifier': crossword_identifier,
  room: params[:room],
}) %>

<%= stylesheet_link_tag "crossword" %>
<%= javascript_include_tag "crossword" %>

<p class="crossword-footer" style="clear: both;">
  Share this page with others to solve this crossword with them.
  <br><a href="<%= @publisher_url %>">Published by <%= @publisher_name %></a>
</p>
